main {
  max-width: 1200px;
  margin-inline: auto;
}

/***************FORSIDE******************/
.grid_2-1 {
  display: grid;
  gap: 20px;
  padding: 20px;
  @media (width > 800px) {
    grid-template-columns: 2fr 1fr;
  }
}
.grid_1 {
  display: grid;
  gap: 10px;
  padding: 20px;
  @media (width > 800px) {
    grid-template-columns: 1fr 1fr;
    grid-column: 2 / span 1;
  }
}

/***************MINCOMPUTER******************/

.grid_1-1 {
  display: grid;
  gap: 10px;
  padding: 20px;
  @media (width > 800px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

/***************OPERATIVSYSTEMER******************/

.grid_5-3 {
  display: grid;
  gap: 20px;
  padding: 20px;
  @media (width > 800px) {
    grid-template-columns: 5fr 3fr;
  }
}

.grid_2-3 {
  padding: 20px;
  display: grid;
  gap: 20px;
  object-fit: cover;
  @media (width > 800px) {
    grid-template-columns: 2fr 3fr;
    padding: 20px;
    .imgmac {
      grid-column: 1 / span 1;
      grid-row: 1 / span 5;
    }
    .textmac {
      grid-column: 2 / span 1;
      grid-row: 1 / span 5;
    }
  }
}

.grid_3-2 {
  display: grid;
  gap: 20px;
  padding: 20px;
  @media (width > 800px) {
    grid-template-columns: 3fr 2fr;
    padding: 20px;
    .imgwindows {
      grid-column: 2 / span 1;
      grid-row: 1 / span 5;
    }
    .textwindows {
      grid-column: 1 / span 1;
      grid-row: 1 / span 5;
    }
  }
}

/***************Komponenter******************/

.grid_1-1-1 {
  display: grid;
  gap: 20px;
  padding: 20px;
  @media (width > 800px) {
    grid-template-columns: 1fr 1fr 1fr;
    .column {
      display: flex;
      flex-direction: column;
      :last-child {
        margin-top: auto;
      }
    }
  }
}

/***************GALLERI******************/

.grid_galleri {
  display: grid;
  gap: 10px;
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  .box1 {
    grid-column: span 2;
  }
  .box5 {
    grid-column: span 2;
  }
  .box4 {
    grid-column: span 2;
  }
  .box6 {
    grid-column: span 2;
  }
  @media (width > 800px) {
    grid-template-columns: repeat(4, 1fr);
    .box1 {
      grid-column: span 2;
      grid-row: span 2;
    }
    .box5 {
      grid-column: span 1;
    }
    .box4 {
      grid-column: span 2;
    }
    .box6 {
      grid-column: span 3;
    }
  }
}

.ud {
  grid-column: 2;
}
